# Carpetas de compilación
bin/
obj/

# Archivos de usuario de Visual Studio
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# Paquetes de NuGet
*.nupkg
*.snupkg
packages/
.nuget/

# Archivos de dependencias y caché
project.lock.json
project.fragment.lock.json
artifacts/

# Archivos temporales
*.tmp
*.log
*.vspscc
*.vssscc
.env

# Archivos de configuraciones locales
*.vs/
.idea/
.vscode/